{% extends "base.html" %}

{% block main %}
<h1 class="mb-1 fw-bold">🎉 You Completed NNN 2025 🎉</h1>
<p>Enjoy your well-earned certificate soldier. o7</p>
<div class="mb-4 mt-4">
    <img class="blur" src="static/template/NNN 2025 Certificate.png" alt="Certificate Template" width="500">
</div>
<form action="/certificate" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="name" placeholder="Your name here" type="text" maxlength="25"
            required>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <div>
        <button class="btn btn-primary" type="submit">Generate Certificate</button>
    </div>
</form>

<!-- Confetti! -->
<script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
<script>
    window.onload = () => {
        confetti({
            particleCount: 300,
            spread: 90,
            origin: { x: 1, y: 1 },
        });

        confetti({
            particleCount: 300,
            spread: 90,
            origin: { x: 0, y: 1 },
        });
    };
</script>
{% endblock %}